@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Lato, sans-serif;
}
.main-header {
  grid-column: 1 / 5;
  background-color: #26272b;
  padding: 0.7rem 1rem;
  text-align: center;
}

.main-header p {
  color: #ffffff;
  font-size: 1.5rem;
  font-style: italic;
}

.container {
  display: grid;
  grid-template-columns: 4rem 3fr 1fr 2rem;
  margin-top: 2rem;
  grid-column-gap: 2rem;
}

.header {
  grid-column: 2 / 5;
}

.heading {
  font-family: Montserrat, sans-serif;
}

.content {
  grid-column: 2 / 3;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 2rem 0;
}

.content .poster-image {
  width: 60%;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  margin-bottom: 1rem;
}

.aside .heading {
  margin: 0;
  font-weight: 600;
}

.footer {
  grid-column: 1 / 5;
  background-color: #26272b;
  padding: 0.7rem 1rem;
  margin-top: 3rem;
  text-align: right;
}

.footer .name-link {
  color: #ffffff;
  text-decoration: none;
}

.card {
  height: 5rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin: 1rem 0;
  cursor: pointer;
}

.card img {
  height: 100%;
  width: 40%;
  margin-right: 0.5rem;
}

.card p {
  margin: 0;
}

.card .title {
  font-size: 0.8rem;
}

.card .author {
  font-size: small;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 2rem 3fr;
  }
}
